*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
**/__pycache__/
.env
.pythonversion
.python-version
Mush_Me/data/metadata/DanishFungi2020_train_metadata_DEV.csv
Mush_Me/data/metadata/DanishFungi2020_test_metadata_DEV.csv
Mush_Me/data/metadata/DanishFungi2020-Mini_test_metadata_DEV.csv
Mush_Me/data/metadata/DanishFungi2020-Mini_train_metadata_DEV.csv
